.contact {
    background-image: url(../../assets/images/contact/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
}
.contact .section-heading h2 {
    color: #fff;
}