.phone {
    margin-right: 15px;
}
.item img {
    float: left;
    margin-right: 25px;
    vertical-align: middle;
}
.item h6 {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
}
.item h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}
.phone ,  .email {
    margin-right: 15px;
    display: flex;
    gap: 16px;
}
.phone svg , .email svg {
color:#ee626b ;
font-size: 34px;
}
.contact-page .col-lg-12{
    padding-top: 46px;
}
@media(max-width:767px){
    .contact-page .col-lg-12{
        padding-top: 0;
    }
}